main {
    display: grid;
    grid-template-columns: 2fr 139px;
    grid-template-areas: 
            "title create"
            "recipes recipes"
        ;
    row-gap: 40px;
}

main h1 {
    grid-area: title;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 24px;
    color: #111111;
    justify-items: center;
    justify-content: center;
    align-self: center;
}

#btn-create {
    grid-area: create;
    padding: 9px 20px;
    background-color: #6558C3;
    border-radius: 4px;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    text-decoration: none;

}

.admin-recipes {
    grid-area: recipes;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    margin-bottom: 51px;
}

.admin-recipe {
    display: grid;
    grid-template-columns: 1fr 2fr ;
    column-gap: 20px;
    margin-bottom: 20px;
}

.admin-recipe img {
    width: 172px;
    height: 80px;
    border-radius: 8px;
    transition: all 0.3s;
}

.admin-recipe:hover img {
    transform: scale(1.1);
}

.admin-recipe h2 {
    margin-bottom: 5px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    color: #111111;
}

.admin-recipe p {
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    color: #777777;
}

.admin-recipe a {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 14px;
    color: #6558C3;
    text-decoration: none;
    cursor: pointer;
    transition: color 2s;
}

.admin-recipe a:hover {
    color: #4c3bce;
}