.banner div:first-child {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.banner div h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #111111;
}

.banner div a {
    padding: 9px 20px;
    background: #6558C3;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}

.banner div a:hover {
    background: #5546c9;
}

.banner img {
    border-radius: 15px;
    width: 940px;
    height: 280px;
}

.banner h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #111111;
    text-align: center;
    margin: 50px 0 4px;
}

.banner p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #777777;
    text-align: center;
}

.ingredients {
    width: 940px;
}

.option-ingredients {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 50px 0 20px;
}

.option-ingredients h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #111111;
    padding-right: 8px;
}

.option-ingredients p {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #999999;
}

.list-ingredients ul {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    list-style-position: inside;
    color: #444444;
}

.preparation {
    width: 940px;
}

.option-preparation {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 39px 0 20px;
}

.option-preparation h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #111111;
    padding-right: 8px;
}

.option-preparation p {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #999999;
}

.list-preparation ul {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    list-style-position: inside;
    color: #444444;
}

.information {    
    width: 940px;
    margin-bottom: 51px;
}

.option-information {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 47px 0 20px;
}

.option-information h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #111111;
    padding-right: 8px;
}

.option-information p {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #999999;
}

.information .description {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}



