<div class="items">
    <div class="item">
        <div>Imagem da receita</div>
        <div>
            <input type="url" name="img_url" placeholder="http://" autocomplete="off" value="{{ items.image }}">
        </div>
    </div>

    <div class="item">
        <div>Ingredientes</div>
        <div id="ingredients">
            <div class="ingredient">
                <input type="text" name="ingredients[]" value="{{ items.ingredients }}" />
            </div>
        </div>
    </div>
    <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>

    <div class="item">
        <div>Modo de preparo</div>
        <div id="preparation">
            <div class="preparation-mode">
                <input type="text" name="preparation[]" value="" />
            </div>
        </div>
    </div>
    <button type="button" class="add-preparation-mode">Adicionar novo passo</button>

    <div class="item">
        <div>Informações adicionais</div>
        <div>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
    </div>

</div>