<div class="items">
    <div class="item">
        <div>Imagem da receita</div>
        <div>
            <input type="url" name="img_url" placeholder="http://" autocomplete="off">
        </div>
    </div>

    <div class="item">
        <div id="ingredients">
            <div class="ingredient">
                <input type="text" name="ingredients[]" value="" placeholder="Ingredient" />
            </div>
        </div>
    </div>
    <button type="button" class="add-ingredient">Add Ingredient</button>

    <div class="item">
        <div id="preparation">
            <div class="preparation-mode">
                <input type="text" name="preparation[]" value="" placeholder="Modo de preparação" />
            </div>
        </div>
    </div>
    <button type="button" class="add-preparation-mode">Add Preparation Mode</button>

    <div class="item">
        <div>Informações adicionais</div>
    </div>
</div>