<div class="items">
    <div class="item">
        <div>Imagem da receita</div>
        <div>
            <input type="url" name="img_url" placeholder="http://" autocomplete="off" value="{{ items.image }}">
        </div>
    </div>

    <div class="item">
        <div>Nome da receita</div>
        <div>
            <input type="text" name="title" value="{{ items.title }}" autocomplete="off">
        </div>
    </div>

    <div class="item">
        <div>Autor</div>
        <div>
            <input type="text" name="author" value="{{ items.author }}" autocomplete="off">
        </div>
    </div>

    <div class="item">
        <div>Ingredientes</div>
        <div id="ingredients">
            <div class="ingredient">
                {% if items.ingredients != null %}
                    {% for ingredient in items.ingredients %}
                        <input type="text" name="ingredients[]" value="{{ ingredient }}" autocomplete="off"/>
                    {% endfor %}
                {% endif %}

                {% if items.ingredients == null %}
                    <input type="text" name="ingredients[]" autocomplete="off"/>
                {% endif %}
            </div>
        </div>
    </div>
    <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>

    <div class="item">
        <div>Modo de preparo</div>
        <div id="preparation">
            <div class="preparation-mode">
                {% if items.preparation != null %}
                    {% for preparation in items.preparation %}
                        <input type="text" name="preparation[]" value="{{ preparation }}" autocomplete="off"/>
                    {% endfor %}
                {% endif %}

                {% if items.preparation == null %}
                    <input type="text" name="preparation[]" autocomplete="off"/>
                {% endif %}
            </div>
        </div>
    </div>
    <button type="button" class="add-preparation-mode">Adicionar novo passo</button>

    <div class="item">
        <div>Informações adicionais</div>
        <div>
            <textarea cols="30" rows="10" name="information" >{{ items.information }}</textarea>
        </div>
    </div>

</div>