{% extends "./layout.njk" %}

{% block head %}

    <link rel="stylesheet" href="../css/admin-styles/index.css">

{% endblock head %}

{% block content %}

    <main>
        <h1>Gerenciar receitas</h1>
        
        <div class="recipes">

            {% for recipe in recipes %}

                <div class="recipe" id="">
                    <div>
                        <img src="{{ recipe.image }}">
                    </div>
                    <div>
                        <h2>{{ recipe.title }}</h2>
                        <p>{{ recipe.author }}</p>
                        <a href="#">Visualizar</a>
                    </div>
                </div>

            {% endfor %}

        </div>
    </main>

{% endblock content %}

{% block scripts %}

    <script src="../scripts/scripts.js"></script>

{% endblock scripts %}