<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Foodfy</title>

        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="../../../assets/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="../../../css/admin-styles/layout.css">

        {% block head %}{% endblock head %}

    </head>
    <body>
        <header>
            <nav>
                <div class="content-header">
                    <div>
                        <a href="/admin">
                            <img src="../../../assets/logo-admin.png" alt="Foodfy">
                        </a>
                    </div>
                </div>
            </nav>
        </header>
        <div id="content">

            {% block content %}{% endblock content %}
        </div>

        {% block scripts %}{% endblock scripts %}
    </body>
</html>