{% extends "./layout.njk" %}

{% block head %}

    <link rel="stylesheet" href="../../../css/user-styles/receitas.css">
    <link rel="stylesheet" href="../../../css/user-styles/animation.css">

{% endblock head %}

{% block content %}

    <main>
        <div class="recipes">

            {% for recipe in recipes %}

                <div class="recipe">
                    <img src="{{ recipe.image }}">
                    <h2>{{ recipe.title }}</h2>
                    <p>{{ recipe.author }}</p>
                </div>

            {% endfor %}

        </div>
    </main>

{% endblock content %}

{% block footer %}

    <footer>
        <p>Todos direitos reservados, receitas Foodfy.</p>
    </footer>

{% endblock footer %}

{% block scripts %}

    <script src="../../../scripts/scripts-users.js"></script>

{% endblock scripts %}