{% extends "layout.njk" %}

{% block head %}

    <link rel="stylesheet" href="../css/descricao-receita.css">
    <link rel="stylesheet" href="../css/animation.css">

{% endblock head %}

{% block content %}

    <section class="banner">

        <img src="{{ items.image }}" alt="{{ items.title }}">
        
    </section>

    <main>
        
    </main>

{% endblock content %}

{% block footer %} 

    <footer>
        <p>Todos direitos reservados, receitas Foodfy.</p>
    </footer>

{% endblock footer %}

{% block scripts %} 

    <script src="../scripts/scripts.js"></script>
    
{% endblock scripts %}
