<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Foodfy</title>

        <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">

        {% block head %}{% endblock head %}

    </head>
    <body>
        <div id="wrapper">
        <div id="content">
            <header>
                <nav>
                    <div class="content">
                        <div>
                            <a href="/">
                                <img src="../assets/logo.png" alt="Foodfy">
                            </a>
                        </div>
                        <div>
                            <ul>
                                <li>
                                    <a href="/sobre">Sobre</a>
                                </li>
                                <li>
                                    <a href="/receitas">Receitas</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>

            {% block content %}{% endblock content %}

        </div>

        {% block footer %}{% endblock footer %}
        
        {% block scripts %}{% endblock scripts %}
        </div>
    </body>
</html>